.popup {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  z-index: 2;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
}
.popup_opened {
  visibility: visible;
  opacity: 1;
}

.popup__dialog-window {
  position: relative;
  width: 430px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
}

.popup__close-button {
  background-image: url('../../images/close.png');
  width: 40px;
  height: 40px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  left: 100%;
  transform: translate(0, -100%);
  border: none;
  cursor: pointer;
}

.popup__form {
  width: 85%;
  margin: auto;
  padding-top: 35px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
}

.popup__title {
  margin: 0;
  padding: 0;
}

.popup__input-container {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.popup__input {
  padding: 10px 0;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.popup__input:focus {
  outline: none;
  border-bottom: 2px solid rgba(0, 0, 0);
}
.popup__input-title {
  text-transform: capitalize;
  font-family: Inter, Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #2f71e5;
}

.popup__input-error {
  display: none;
  font-family: Inter, Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #ff0000;
}

.popup__input-error_visible {
  display: block;
}

.popup__submit {
  width: 360px;
  height: 64px;
  margin: 39px auto 0;
  background: #2f71e5;
  box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);
  border: none;
  border-radius: 100px;
  color: #fff;
}

.popup__submit_type_delete{
margin: 40px 0;
}

.popup__submit_disabled {
  background: #e6e8eb;
  color: #b6bcbf;
}

.popup__flair-text {
  margin: 16px auto 28px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #000000;
}

.popup__flair-text_button {
  cursor: pointer;
  color: #2f71e5;
}

.popup__flair-text_registration-success {
  text-align: left;
  margin: 16px 0 28px;
}

@media screen and (max-width: 500px) {
  .popup {
    position: fixed;
    top: 56px;
  }

  .popup__dialog-window {
    height: 100vh;
    width: 100vw;
  }

  .popup__close-button {
    display: none;
  }

  .popup__submit {
    max-width: 100%;
  }
}
