.header {
  width: 1440px;
  position: absolute;
  max-height: 80px;
}

.header__container {
  width: 85%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
  color: #fff;
}
.header__logo {
  font-family: Roboto-Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
}

.header__nav-menu-list {
  display: flex;
  list-style: none;
}

.header__nav-menu-list-item {
  margin-right: 75px;
}

.header__nav-menu-list-item:last-of-type {
  margin-right: 0;
}
