.hero {
  min-height: 576px;
  background-image: url("../images/georgia-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  padding-top: 0;
}

.hero__title-container {
  margin: 0 auto;
  padding-top: 80px;
  width: 608px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero__title {
  font-family: Roboto-Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  line-height: 64px;
  margin: 0;
  padding: 0;
}

.hero__subtitle {
  margin: 32px 0 0 0;
  padding: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
}

.hero__search-container {
  box-sizing: border-box;
  margin: 88px auto 0;
  padding: 0;
  width: 608px;
  height: 64px;
  background: #ffffff;
  border: 1px solid #d1d2d6;
  box-sizing: border-box;
  backdrop-filter: blur(8px);
  border-radius: 100px;
  /* display: flex; */
  /* justify-content: space-between; */

  /* justify-content: center; */
  /* vertical-align: middle; */
}

.hero__search-form{
  display: flex;

}

.hero__search-input {
  margin: 10px 40px 10px 24px;
  padding-left: 5px;
  border: none;
  width: 375px;
  /* height: 22px; */
}

.hero__search-button {
  margin: -1px -1px 0 0;
  /* padding: 0; */
  width: 168px;
  /* align-content: flex-end; */
  height: 64px;
  background: #2f71e5;
  box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);
  border: 0;
  border-radius: 100px;
  cursor: pointer;
}

.hero__search-button:hover {
  background: #347eff;
}

.hero__search-button:active {
  background: #2a65cc;
}
