.navigation__menu-list {
  margin: 0;
  display: flex;

  list-style: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}

.navigation__menu-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 75px;
}

.navigation__menu-item:last-of-type {
  margin-right: 0;
}

.navigation__menu-item_button {
  cursor: pointer;
  background: none;
  border: none;
  color: #fff;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}

.navigation__menu-item_button_user {
  display: flex;
}

.navigation__menu-item_logout {
  display: block;
  margin-left: 20px;
  width: 24px;
  height: 24px;
  background-image: url('../images/logout-white.png');
}

.navigation__menu-item_account {
  color: #b6bcbf;
}

.navigation__menu-item_active {
  border-bottom: 5px solid #fff;
}

.circle-border {
  padding: 12px 18px;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 100px;
}

.navigation__menu-item_button_saved-news {
  color: #000;
}

.circle-border_saved-news {
  border: 1px solid #000;
  border-radius: 100px;
}

.navigation__menu-item_logout_saved-news{
  background-image: url('../images/logout-black.png');

}