.footer {
  height: 80px;
}

.footer__container {
  width: 85%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.footer__copyright {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #b6bcbf;
}

.footer__nav-menu-list {
  list-style: none;
  display: flex;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #1a1b22;
}

/* .footer__nav-menu_item {
  margin-right: 25px;
}

.footer__nav-menu_item:last-of-type {
  margin-right: 0;
} */

.footer__nav-menu-container {
  display: flex;
}

.footer__nav-menu-button {
  margin: 0 0 0 25px;
  padding: 0;
  cursor: pointer;
  background: none;
  border: none;
  text-decoration: none;
  color: #000;
}

.footer__nav-menu-icon {
  display: block;
  width: 20px;
  height: 20px;
  background-position: center;
  background-repeat: no-repeat;
}

.footer__nav-menu-icon_facebook {
  background-image: url('../../images/facebook-icon.png');
}
.footer__nav-menu-icon_github {
  background-image: url('../../images/github-icon.png');
}

@media screen and (max-width: 590px) {
  .footer {
    height: 200px;
  }
  .footer__copyright {
    margin: auto;
  }
  .footer__container {
    flex-direction: column-reverse;
    justify-content: center;
  }
  .footer__nav-menu-list {
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
  .footer__nav-menu-item:first-of-type {
    margin-left: -25px;
  }

  .footer__nav-menu-container {
    flex-direction: column;
    height: 74px;
    justify-content: space-between;
    text-align: left;
  }
  .footer__nav-menu-container_type_icons {
    flex-direction: row;
  }
}
